.skill-container {
  width: 100%;
  margin-bottom: 5rem;

  .skill-table {
    width: 100%;

    thead {
      background-color: var(--color-white);
      color: var(--color-dark);
      font-weight: 600;
      border-radius: 15px 5px 0 0;

      th {
        text-align: left;
        padding: 5px 10px;
        background-color: transparent;
      }
    }

    tbody {
      tr {
        cursor: default;
        border-radius: 10px;

        &:nth-child(odd) {
          background-color: var(--color-separator);
        }

        &:last-child {
          border-bottom: none;
          border-radius: 0 0 5px 5px;
        }

        td {
          position: relative;
          padding: 10px;
          font-size: 1rem;
          color: var(--color-dark);
          background-color: inherit;
          img {
            width: 40px;
            border-radius: 5px;
            aspect-ratio: 1/1;
          }

          &.skill-options {
            color: var(--color-dark);
            padding: 0.5rem;


            .skill-options-dropdown {
              width: fit-content;
              position: absolute;
              right: 5.5rem;
              top: 3rem;
              z-index: 1;
              background-color: var(--color-white);
              border-radius: 10px;
              border: 2px solid var(--color-separator);
              box-shadow: var(--box-shadow);
              padding: 1rem;
              display: flex;
              flex-direction: column;
              gap: 1rem;

              .skill-option {
                font-size: 1rem;
                color: var(--color-dark);
                cursor: pointer;
                text-wrap: nowrap;
                text-align: start;

                &:hover {
                  color: var(--color-primary);
                }
              }
            }
          }
        }
      }
    }
  }
}