.add-skill-container {
    .header {
        padding-top: 2rem;
        padding-left: 1rem;
        .header-title {
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--color-dark);       
        }
    }

    .skill-form-container {
        margin-top: 2rem;
        padding: 0 1rem;
        padding-bottom: 1rem;
        .skill-form-header {
            .skill-form-title {
                font-size: 1.2rem;
                font-weight: 600;
                color: var(--color-dark);       
            }
        }

        .new-skill-form {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .form-group {
                width: 60%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;

                .form-label {
                    font-size: 1rem;
                    font-weight: 600;
                    color: var(--color-dark);       
                    min-width: 10rem;
                }

                .form-input {
                    width: 100%;
                    padding: 0.5rem;
                    border: 2px solid var(--color-separator);
                    background-color: var(--color-white);
                    border-radius: 5px;
                    font-size: 1rem;
                    color: var(--color-dark);    
                    
                    &:focus{
                        border: 2px solid var(--color-seperator-focus);
                        outline: none;
                        background-color: var(--color-white);
                    }
                }

                .skill-icon-img {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 5px;
                    cursor: pointer;
                    object-fit: cover;
                }

                .d-none {
                    display: none;
                }
            }


            .submit-form-group{
                width: 60%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .submit-btn{
                    width: 20%;
                }
            }
        }
    }

}
