.dashboard-projects-container{

    .project-view-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        padding: 1rem;
        padding-bottom: 2rem;
        cursor: pointer;
        border-radius: 10px;
        background-color: var(--color-white);
        box-shadow: var(--box-shadow);

        &:hover{
            // background-color: var(--color-background);
            box-shadow: none;
        }

        

        .project-view-card-header{
            
            padding: 10px 0;

            .project-view-card-title{
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--color-dark);       
                text-transform: uppercase;    

            }
            
        }

        .project-view-card-body{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: 4rem;

            img{
                width: 20rem;
                aspect-ratio: 16/9;
            }


            .project-view-card-content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 0.5rem;
                padding-right: 1rem;

                .project-view-card-description{
                    font-size: 1rem;
                    color: var(--color-dark-variant);
                    text-align: justify;
                }
    
                .project-view-card-technologies{
                    display: flex;
                    gap: 1rem;
                    padding: 10px 0;
    
                    .project-view-card-technology{
                        font-size: 1rem;
                        color: var(--color-primary);
                        background-color: var(--color-background);
                        padding: 5px 10px;
                        border-radius: 5px;
                    }
                }
            }
            
        }
    }
}