.dashboard-projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .project-view-card {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5rem;
        padding: 1rem;
        padding-bottom: 2rem;
        cursor: pointer;
        border-radius: 10px;
        background-color: var(--color-white);
        box-shadow: var(--card-box-shadow);

        &:hover {
            // background-color: var(--color-background);
            box-shadow: none;
        }



        .project-view-card-header {

            padding: 10px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 1rem;
            padding: 0 1rem;

            .project-view-card-title {
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--color-dark);
                text-transform: uppercase;

                span {
                    font-size: 0.8rem;
                    font-weight: 400;
                    color: var(--color-dark-variant);
                    text-transform: none;
                    padding: 0.2rem 0.5rem;
                    border-radius: 10px;
                    font-weight: 500;
                    color: white;
                }

                .project-active {
                    background-color: var(--color-success);
                }

                .project-private {
                    background-color: var(--color-danger);
                }

            }

            .project-options {
                color: var(--color-dark);
                padding: 0.5rem;

                .project-options-dropdown {
                    position: absolute;
                    right: 3.2rem;
                    top: 2.5rem;
                    z-index: 1;
                    background-color: var(--color-white);
                    border-radius: 10px;
                    border: 2px solid var(--color-separator);
                    box-shadow: var(--box-shadow);
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .project-option {
                        font-size: 1rem;
                        color: var(--color-dark);
                        cursor: pointer;

                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                }
            }

        }

        .project-view-card-body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: 4rem;

            img {
                width: 20rem;
                aspect-ratio: 16/9;
            }




            .project-view-card-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 0.5rem;
                padding-right: 3rem;
                text-align: justify;

                .project-view-card-description {
                    font-size: 1rem;
                    color: var(--color-dark-variant);
                    text-align: justify;
                }

                .project-view-card-technologies {
                    display: flex;
                    gap: 1rem;
                    padding: 10px 0;

                    .project-view-card-technology {
                        font-size: 1rem;
                        color: var(--color-primary);
                        background-color: var(--color-background);
                        padding: 5px 10px;
                        border-radius: 5px;
                    }
                }
            }

        }
    }
}