.home-container {
  color: #444444;
  background-color: #f6fafd;

  section,
  .section {
    color: #444444;
    background-color: #ffffff;
    padding: 60px 0;
    scroll-margin-top: 100px;
    overflow: clip;
  }

  @media (max-width: 1199px) {

    section,
    .section {
      scroll-margin-top: 76px;
    }
  }

  .section-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .section-title p {
    margin-bottom: 0;
  }


  .hero {
    width: 100%;
    min-height: calc(100vh - 100px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0 60px 0;
    overflow: hidden;
  }

  .hero:before {
    content: "";
    background: color-mix(in srgb, #ffffff, transparent 30%);
    position: absolute;
    inset: 0;
    z-index: 2;
  }

  .hero img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .hero .container {
    position: relative;
    z-index: 3;
  }

  .hero h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
  }

  .hero p {
    margin: 10px 0 0 0;
    font-size: 22px;
    color: color-mix(in srgb, #444444, transparent 30%);
  }

  @media (max-width: 992px) {
    .hero h1 {
      font-size: 28px;
      line-height: 36px;
    }

    .hero p {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .hero .btn-get-started {
    color: #ffffff;
    background: #2487ce;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 14px 50px;
    border-radius: 5px;
    transition: 0.5s;
    margin-top: 30px;
  }

  .hero .btn-get-started:hover {
    background: color-mix(in srgb, #2487ce, transparent 15%);
  }

  .hero .icon-box {
    background-color: #ffffff;
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  .hero .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    color: #124265;
    transition: 0.3s;
  }

  .hero .icon-box .description {
    font-size: 15px;
    margin-bottom: 0;
    color: color-mix(in srgb, #444444, transparent 40%);
  }

  .hero .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color: #2487ce;
  }

  @media (min-width: 640px) {
    .hero .icon-box:hover {
      transform: scale(1.08);
    }

    .hero .icon-box:hover .title {
      color: #2487ce;
    }
  }

  .about {
    padding: 60px 0;
    background: #f6fafd;
    position: relative;
    overflow: hidden;
    z-index: 1;

    .about-container{
      margin: 0 8rem;
    }
    .about-container h3 {
      color: #124265;
      font-size: 2rem;
    }

    .portfolio-img {
      display: block;
      object-fit: cover;
      z-index: 1;
      border-radius: 5px;
      box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.1);
      width: 100%;
    }

    .pmt-features {
      margin: 1rem;

      .pmt-feature {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;

        .check-icon {
          color: #24ce6b;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .about {
      .portfolio-img {
        display: none;
      }
    }

    .content h3 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 15px;
      text-transform: uppercase;
      text-align: center;
    }
  }


.services .section-title span{
    color: #124265;
    cursor: pointer;
}
  .services .service-item {
    background-color: #ffffff;
    box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .services .service-item .api-icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
  }
  
  .services .service-item .api-icon .api-service-icon {
    font-size: 36px;
    transition: 0.5s;
    position: relative;
  }
  
  .services .service-item .api-icon .svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .services .service-item .api-icon .svg .path {
    transition: 0.5s;
    fill: color-mix(in srgb, #444444, transparent 95%);
  }
  
  .services .service-item h3 {
    font-weight: 700;
    margin: 10px 0 15px 0;
    font-size: 22px;
  }
  
  .services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .service-item .service-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #124265;
  }
  .services .service-item:hover {
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.1);
  }
  
  
  .services .service-item.item-cyan .api-service-icon {
    color: #0dcaf0;
  }
  
  .services .service-item.item-cyan:hover .api-icon .api-service-icon {
    color: #fff;
  }
  
  .services .service-item.item-cyan:hover .api-icon .path {
    fill: #0dcaf0;
  }
  
  .services .service-item.item-orange .api-service-icon {
    color: #fd7e14;
  }
  
  .services .service-item.item-orange:hover .api-icon .api-service-icon {
    color: #fff;
  }
  
  .services .service-item.item-orange:hover .api-icon .path {
    fill: #fd7e14;
  }
  
  .services .service-item.item-teal .api-service-icon {
    color: #20c997;
  }
  
  .services .service-item.item-teal:hover .api-icon .api-service-icon {
    color: #fff;
  }
  
  .services .service-item.item-teal:hover .api-icon .path {
    fill: #20c997;
  }
  
  .services .service-item.item-red .api-service-icon {
    color: #df1529;
  }
  
  .services .service-item.item-red:hover .api-icon .api-service-icon {
    color: #fff;
  }
  
  .services .service-item.item-red:hover .api-icon .path {
    fill: #df1529;
  }
  
  .services .service-item.item-indigo .api-service-icon {
    color: #6610f2;
  }
  
  .services .service-item.item-indigo:hover .api-icon .api-service-icon {
    color: #fff;
  }
  
  .services .service-item.item-indigo:hover .api-icon .path {
    fill: #6610f2;
  }
  
  .services .service-item.item-pink .api-service-icon {
    color: #f3268c;
  }
  
  .services .service-item.item-pink:hover .api-icon .api-service-icon {
    color: #fff;
  }
  
  .services .service-item.item-pink:hover .api-icon .path {
    fill: #f3268c;
  }
}