.modal-title{
    font-size: 1.2rem;
    color: var(--color-dark);
    font-weight: 600;
}

.token-form-group{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;

    label{
        font-size: 1rem;
        color: var(--color-dark);
        font-weight: 500;
        margin-right: 1rem;
        text-wrap: nowrap;
    }
    input{
        width: 100%;
        padding: 0.5rem;
        border: 2px solid var(--color-separator);
        border-radius: 4px;
        font-size: 1rem;
        color: var(--color-dark);
        font-weight: 400;

        &:focus{
            outline: none;
            border-color: var(--color-seperator-focus);
        }
    }
}
