.overview-container {
    padding: 20px;
  }
  
  .charts-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .chart-container {
    flex: 1;  // Each chart takes equal space
    // border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
  }
  