.dashboard-content-container {
  height: 100%;
  width: 100%;
  padding: 0 20px;

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border: none;
    border-bottom: 1px solid var(--softBg);

    .header-title{
        font-size: 2rem;
        font-weight: 600;
        color: var(--color-dark);   
        text-transform: uppercase;    
      }

    .portolab-btn{
        width: fit-content;
    }
  }

  .empty-data-message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    padding: 5rem;
    color: var(--color-dark);       
  }

  /* Add this to your CSS or SCSS file */
.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db; /* Change color if needed */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto; /* Center the loader */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

}