.dashboard-profile-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
    .personal-info-card{
        flex: 1;
        width: 100%;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: var(--card-box-shadow);
        background-color: var(--color-white);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .profile-leading-option{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .portolab-btn-secondary{
                width: fit-content;
                text-align: center;
            }
        }
       

        img{
            width: 300px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            margin: 0 auto;
        }

        .personal-info{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            margin-top: 0.2rem;

            .info-title{
                font-size: 1rem;
                font-weight: 600;
                color: var(--color-dark);       
                min-width: 80px;
                text-align: start;

            }

            .info-value{
                width: 100%;
                font-size: 1rem;
                font-weight: 400;
                color: var(--color-dark-variant);       
                text-align: start;
                text-overflow: ellipsis;
            }

            .info-value-input{
                width: 100%;
                font-size: 1rem;
                font-weight: 400;
                color: var(--color-dark);       
                text-align: start;
                border: none;
                outline: none;
                background-color: var(--color-white);
                border: 1px solid var(--color-separator);
                text-overflow: ellipsis;
                padding: 0.5rem;
                padding-left: 1rem;
                border-radius: 5px;

                &:focus{
                    border: 1px solid var(--color-seperator-focus);
                    outline: none;
                    background-color: var(--color-white);
                }
            }

        }
    }

    .profile-right-container{
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .cv-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            padding: 1rem;
            border-radius: 10px;
            box-shadow: var(--card-box-shadow);
            background-color: var(--color-white);

            .cv-upload-title{
                font-size: 1rem;
                font-weight: 600;
                color: var(--color-dark);       
            }

            .cv-actions{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;

                .portolab-btn{
                    width: fit-content;
                }
            }
  
        }

        .bio-container{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            border-radius: 10px;
            box-shadow: var(--card-box-shadow);
            background-color: var(--color-white);

            .bio-title{
                font-size: 1rem;
                font-weight: 600;
                color: var(--color-dark);       
            }

            .bio-textarea{
                width: 100%;
                height: 200px;
                font-size: 1rem;
                font-weight: 400;
                color: var(--color-dark);       
                background-color: var(--color-white);
                padding: 1rem;
                border-radius: 10px;
                border: none;
                outline: none;
                resize: none;
                border: 1px solid var(--color-separator);

            }

            .bio-leading-btn{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                .portolab-btn{
                    width: fit-content;
                }
            }
        }
    }
}