.sidebar-container{
    padding: 1rem;
    position: sticky;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);

    &:hover{
        box-shadow: none;

    }
    .header{
        display: inline-block;
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;
        line-height: 0;
        text-align: center;

        .header-icon{
            font-size: 3rem;
            color: var(--softTextColor);
            margin: 0;
            padding: 0;
        }
    
        .header-text{
            font-size: 1.5rem;
            color: var(--color-dark);
            margin: 0;
            padding: 0 0.5rem;
            font-weight: bold;

        }
    }

    .sidebar-content{
        height:86%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2rem;
        


        .sidebar-body{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .sidebar-item{
                color: var(--color-info-dark);
                display: flex;
                gap: 1rem;
                align-items: center;
                justify-content: flex-start;
                padding: 0.5rem;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover{
                    color: var(--color-primary);



                }

                .sidebar-icon{
                    font-size: 1rem;
                    // color: var(--softTextColor);
                }



                .sidebar-title{
                    font-size: 0.9rem;
                    // color: var(--softTextColor);
                }
            }

            .sidebar-item.active{
                color: var(--color-primary);
                background-color: var(--color-light);

            
            }

            
        }

        .sidebar-footer{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .sidebar-item{
                display: flex;
                gap: 1rem;
                align-items: flex-end;
                justify-content: flex-start;
                padding: 0 0.5rem;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                color: var(--color-info-dark);


                &:hover{
                    color: var(--color-primary);


                    .sidebar-icon{
                        // color: var(--bg);
                        font-size: 1rem;
                    }

                    .sidebar-title{
                        // color: var(--bg);
                        font-size: 0.9rem;
                    }
                }

                .sidebar-icon{
                    font-size: 1rem;
                    // color: var(--softTextColor);
                }



                .sidebar-title{
                    font-size: 0.9rem;
                    // color: var(--softTextColor);
                }
            }

        }

    }
}

