.home-footer {
  color: #444444;
  background-color: #ffffff;
  border-top: 1px solid color-mix(in srgb, #2487ce, transparent 80%);
  font-size: 14px;
  padding-bottom: 50px;
  position: relative;

  .footer-top {
    padding-top: 50px;
    margin: 0 5rem;
    display: flex;

    .footer-about {

      .logo {
        line-height: 1;
        margin-bottom: 25px;
  
        img {
          max-height: 40px;
          margin-right: 6px;
        }
      }
  
      span {
        color: #124265;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: var(--heading-font);
      }
  
      p {
        font-size: 14px;
        font-family: var(--heading-font);
      }
  
      .social-links {
  
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 4px;
          border: 1px solid color-mix(in srgb, #2487ce, transparent 50%);
          font-size: 16px;
          color: #2487ce;
          margin-right: 10px;
          transition: 0.3s;
  
          &:hover {
            background-color: #2487ce;
            color: #ffffff;
            border-color: #2487ce;
          }
        }
      }
    }
  }



  h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }

  .footer-links {
    margin-bottom: 30px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      i {
        padding-right: 2px;
        font-size: 12px;
        line-height: 0;
      }

      li {
        padding: 10px 0;
        display: flex;
        align-items: center;

        &:first-child {
          padding-top: 0;
        }
      }

      a {
        color: color-mix(in srgb, #444444, transparent 20%);
        display: inline-block;
        line-height: 1;

        &:hover {
          color: #2487ce;
        }
      }
    }
  }

  .footer-contact p {
    margin-bottom: 5px;
  }

  .copyright {
    padding: 25px 0;
    color: #ffffff;
    height: fit-content;

    p {
      margin-bottom: 0;
      color: #ffffff;

    }
  }

  .credits {
    margin-top: 4px;
    font-size: 13px;
  }

  a {
    color: color-mix(in srgb, #ffffff, transparent 30%);
  }
}

@media screen and (min-width: 1200px) {
  .copyright {
    background-color: #2487ce;
    margin: 0 2rem;

  }
  
}

@media screen and (max-width: 1200px) {
  .copyright {
    background-color: red;
    margin: 0 0rem;

  }
  
}