.home-footer {
    background: #0a0a0a;
    color: #ffffff;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem;
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 0.1rem;
  
    .footer-container {
      width: 100%;
      margin: 0 auto;
    }
  
    &__text {
      opacity: 0.8;
    }
  }
  