:root {
  /* --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --primary: #007FC2;
  --secondary: #3E8DD4;
  --seperatoor: #f0f0f0; */



  --color-primary: #6C9BCF;
  --color-danger: #FF0060;
  --color-success: #1B9C85;
  --color-warning: #F7D060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  background-color: var(--color-background);
}

a{
  color: var(--color-dark);
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

h1{
  font-weight: 800;
  font-size: 1.8rem;
}

h2{
  font-weight: 600;
  font-size: 1.4rem;
}

h3{
  font-weight: 500;
  font-size: 0.87rem;
}

small{
  font-size: 0.76rem;
}

p{
  color: var(--color-dark-variant);
}

b{
  color: var(--color-dark);
}

.text-muted{
  color: var(--color-info-dark);
}

.primary{
  color: var(--color-primary);
}

.danger{
  color: var(--color-danger);
}

.success{
  color: var(--color-success);
}

.warning{
  color: var(--color-warning);
}


[data-theme="dark"] {
  /* --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
  --seperatoor: #091122;
  --primary: #007FC2; */

  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

[data-theme="light"] {
  /* --bg: white;
  --textColor: black;
  --softBg: #dde0e6;
  --softTextColor: #626262;
  --seperatoor: #f5f4f4;
  --primary: #007FC2; */

  --color-background: #f6f6f9;
  --color-white: #fff;
  --color-dark: #363949;
  --color-dark-variant: #677483;
  --color-light: rgba(132, 139, 200, 0.18);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

.portolab-btn{
  display: inline-block;
  width: 100%;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: none;
  /* background: #3E8DD4CC; */
  background-color: #007FC2;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.portolab-btn:hover {
  background: #3E8DD4;
}

.portolab-btn-secondary{
  display: inline-block;
  width: 100%;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: none;
  background: transparent;
  border: 1px solid #3E8DD4CC;
  color: #3E8DD4CC;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.portolab-btn-secondary:hover {
  background: #3E8DD4;
  color: var(--bg);
}



@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}